@import "./variables.css";

/* Resitting  */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-out;
    scroll-behavior: smooth;
}


/* social-media */

.social-media {
    position: fixed;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-text-wraper {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    align-items: center;
    margin-block-end: 1rem;
}

.social-icon {
    font-size: 3rem;
    color: var(--primary-color);
}

.social-icon-svg {
    width: 2.6rem;
    height: 2.6rem;
    margin-block-end: 0.2rem;
    stroke: none;
    fill: #fff;
}

/* NavBar */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(208, 208, 208);
    background-color: var(--secondary-color);
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav-links>li {
    margin-inline: 1rem;
}

/* Header */
#header {
    height: 100vh;
}

/* Intro  */
.introduction {
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-block-start: 13rem; */
    margin-inline-start: 9rem;
}

.introduction-text {
    flex: 1;
}

.introduction-text>h1 {
    font-size: 7rem;
    margin-block: 2rem;
    font-family: 'Handjet', monospace;
}

.introduction-text>p {
    /* width: 50%; */
    font-weight: 500;
    font-size: 1.5rem;
}

.typed-out {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .07em solid var(--primary-color);
    /* The typwriter cursor */
    white-space: nowrap;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--primary-color);
    }
}

.introduction-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-img {
    width: 300px;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.introduction-img::before {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    content: '';
    --size: 300px;
    --speed: 30s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(var(--secondary-color), var(--main-bg-color-dark));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 300px;
    }
}

/* about-me */

.about-me {
    height: 100vh;
    /* margin-inline-start: 9rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-wrapper{
    width: 50%;
}
.about-wrapper> summary{
    text-align: left;
}
.about-wrapper> summary> br{
    margin-bottom: 1rem;
}
.btn-container{
    margin-block-start: 3rem;
}
.btn-download {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn-download:hover {
    background-color: RoyalBlue;
  }

/* Responsive */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */