:root {
    --main-bg-color-dark: #000000;
    --royal-purple: #52057B;
    --primary-color: #892CDC;
    --secondary-color: #BC6FF1;
    --main-bg-color-light: #ffffff;
    --high-emphasis: rgba(255, 255, 255, 0.90);
    --medium-emphasis: #7d7d7d;
    --disabled-text: rgba(255, 255, 255, 0.38);
}
